* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;

}
footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	z-index: 3;
	margin: auto 1000px;
}
.containerindex {
	width: 100%;
	height: 100vh;
	background-image: url(images/Whoweare.jpg);
	background position: center;
	background-size: cover;
	position: relative;
}
.containermerchstore {
	width: 100%;
	height: 100vh;
	background-image: url(images/Merch.jpg);
	background position: center;
	background-size: cover;
	position: relative;
}
.containercontact {
	width: 100%;
	height: 100vh;
	background-image: url(images/Cadetinfo.jpg);
	background position: center;
	background-size: cover;
	position: relative;
}
.containeractivities {
	width: 100%;
	height: 100vh;
	background-image: url(images/ACC.jpg);
	background position: center;
	background-size: cover;
	position: relative;	
}
.logo {
	width: 30px
	cursor: pointer;
	margin-left: 40px;
}
.navbar {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	background: rgba(29,33,61,0.5);
	padding: 0 60px;
	box-sizing: border-box;
}
.logo {
	width: 155px;
}
.logo img {
	width: 65px;
	position: relative;
	z-index: 10;
	cursor: pointer;
	margin: auto -55px;
	float: left;
}
nav {
	flex: 1;
}
nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 60px;
}
nav ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}
.cadet-login {
	color:#fff;
	cursor: pointer;
}
.sidebar {
	width: 155px;
	height: 100vh;
	background: rgba(29,31,58,0.5);
	position: absolute;
	top: 0;
	left: 0;
}
.search-icon {
	width: 20px;
	display: block;
	margin: 120px auto 0;
	cursor: pointer;
}
.social-links {
	width: 20px;
	display: block;
	margin: 220px auto 0;
	text-align: center;
}
.social-links img {
	height: 30px;
	margin-bottom: 30px;
	cursor: pointer;
}
.info-icon {
	width: 40px;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	cursor: pointer;
} 
.msg-container {
	width: 600px;
	height: 280px;
	position: absolute;
	left: 14%;
	top: 57%;
	transform: translateY(-50%);
	overflow: hidden;
}
#slider {
	display: inline-flex;
	transition: 0.5s;
}
.msg-col {
	width: 600px;
	height: 280px;
	color: #fff;
}
.msg-col h1 {
	color: #fff;
	font-size: 60px;
	font-weight: 100;
	margin: 10px 0;
}
/* the element below is for the about page buttons, refer to the paper design (11/11/2020)*/
.msg-col a {
	display: inline-block;
	text-decoration: none;
	color: #555;
	background: #fff;
	font-size: 15px;
	padding: 10px 35px;
	border-radius: 30px;
	margin-top: 25px;
	transition: transform 0.5;
}
.msg-col a:hover {
		transform: scale(1.1);
}
.controller {
	width: 1px;
	height: 320px;
	display: block;
	background: #c0c0c0;
	position: absolute;
	top: 55%;
	right: 50px;
	transform: translateY(-50%);
}
#line1,#line2,#line3,#line4 {
	height: 80px;
	width: 10px;
	cursor: pointer;
	transform: translateX(-50%);
}
/*slider*/
#active {
	width: 5px;
	height: 80px;
	border-radius: 10px;
	background: #fff;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	transition: 0.5s;
}
.contact-page h1 {
	text-align: center;
	line-height: 200px;
	color: #fff;
}
.contact-form-border {
	width: 100px;
	height: 10px;
	margin: 20px auto;
}
.contact-form {
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}
.contact-form-text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #fff;
	padding: 20px 40px;
	outline: none;
	color: #fff;
	trasnition: 0.5s;
}
/*color of the border glow when hovering */
.contact-form-text:focus {
	box-shadow: 0 0 10px 4px #808080;
}
textarea.contact-form-text {
	resize: none;
	height: 120px;
}
.contact-form-btn {
	width: 240px
	float: right;
	color: #000;
	cursor: pointer;
	font-size: 12px;
	padding: 12px;
	background: #fff;
	border: 0;
	outline: none;
	margin-top: 30px
	transition: transform 0.5;
} 
.contact-form-btn:hover {
	transform: scale(1.1);
}
.card {
	width: 700px;
	height: 460px;
	display: inline-grid;	
	border-radius: 10px;
	padding:15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 15px 600px;
	background-position: center;
	background-size: cover;
}
.card1 {
	background-image: url(images/Comingsoon.jpg);
}
h5 {
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	text-shadow: 0 0 5px #999;
}
.activities-box{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
}
.activities {
	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
	position: relative;
}
.activities img {
	width: 65%;
	border-radius: 7px;
}
.overlay {
	width: 65%;
	left: 130px;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 7px;
	cursor: pointer;
	background: linear-gradient(rgba(0,0,0,0.1),#3F3F3F);
	opacity: 0;
	transition: 1s;
}
.activities:hover .overlay {
	opacity: 100%;
	
}
.activity-description {
	width: 50%;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: 1s;
}
hr {
	background: #fff;
	height: 2px;
	border: 0;
	margin: 15px auto;
	width: 60%;
}
.activity-description p {
	font-size: 14px;
}
.activities:hover .activity-description {
	bottom: 40%;
	opacity: 100%;
}

